extends layout

block content
  div.tabeltitle
    div Employees
      div
        a(href='/add') Add Employee
  table
    thead
      th First
      th Last
      th Title
      th Address
      th Number
      th Year Hired
      th Age
      th Actions
    tbody
      each Employee in workers
        tr
          td= Employee.firstname
          td= Employee.lastname
          td= Employee.jobtitle
          td
            div #{Employee.streetline1}
            div #{Employee.streetline2}
            div= `${Employee.city}, ${Employee.state} ${Employee.zip}`
          td= Employee.phonenumber
          td= Employee.yearhired
          td= Employee.Age
          td
            div.actions
              a(href=`/update/${Employee.id}`) Edit
              a(href=`/delete/${Employee.id}`) Delete